
#users {
  background-color: #fff;
  color: #0943E8;
  border-right: 1px solid #aaa;
  font-weight: normal;
  display: none;
}

#users>section>h3 {
  text-align: center;
}




.section-right,
.section-left {
  height: 100vh;
}


/* MESSAGES */

#messages {
  background-image: url("../images/chatbg.jpg");
  background-size: fill;
  height: 100%;
  padding-top: 20px;
}

#message-display {
  margin-left: 10px;
  padding: 0;
}

ol {
  list-style: none;
}

ol>li {
  margin-top: 2px;
}

.message_title h4 {
  margin: 0;
}
.message_body {
  position: relative;
}

.message_body p {
  margin-bottom: 2px;
}

.message-wrap {
  display: inline-block;
  padding: 5px 20px 20px 10px;
  border-radius: 10px;
}

.chat-me {
  background-color: #D0FFBD;
}

.chat-others {
  background-color: #fff;
}

.created_at {
  color: #bbb;
  font-size: 10px;
  position: absolute;
  right: -10px;
}



/* SEND-SECTION */

#form-section {
  background-color: #efefef;
  position: absolute;
  border-top: 1px solid #aaa;
  bottom: 0;
  width: 100%;
  padding: 8px 0 8px 8px;
}

.no-padding-left-right {
  padding-left: 0;
  padding-right: 0;
}

#message-form {
  display: inline;
}


input[name="message"] {
  padding: 0 10px;
  width: 100%;
  border: none;
  outline: none;
  caret-color: #0943E8;
  border-radius: 15px;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 1px;
}




#input-holder {
  width: calc(100% - 99px);
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  display: inline-block;
}

#input-holder i {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 25px;
  color: #FFB900;
  cursor: pointer;
  display: none;
}

#send-location, #send-message {
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 0 10px;
}

#send-message {
  margin: 0 8px;
}

#send-message span {
  position: relative;
  right: 1px;
  bottom: 1px;
}




#emojis {
  position: relative;
}

.emoji {
  margin: 3px;
}

#emoji-container {
  position: absolute;
  height: 132px;
  width: 263px;
  top: -172px;
  left: -50px;
  border: 1px solid #000;
  overflow-y: scroll;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}


input[name="message"],
form>button,
#send-location {
  height: 35px;
}

form>button,
button[id="send-location"] {
  background-color: #0943E8;;
  border: none;
  color: white;
  border-radius: 10px;
}


.testt {
  -webkit-appearance: textfield;
  appearance: textfield;
  height: 35px;
  padding: 5px 10px;
  width: calc(100% - 40px);
  border: none;
  outline: none;
  caret-color: #0943E8;
  border-radius: 15px;
  font-size: 16px;
}

.testt>img {
  width: 16px;
  height: 16px;
  margin: 0 1px;
}



button[disabled=disabled] {
  background-color: #7F8995;
}


/* index page */

body {
  background: url("../images/joinroombg.jpg");
  margin: 0;
}

#join-chat {
  width: 90%;
  background-color: #efefef;
  background-color: rgba(230, 230, 230, 0.7);
  position: relative;
	top: 40%;
  transform: 			translateY(-50%);
  padding: 5px 0 30px 0;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

#join-chat h2 {
  text-align: center;
  color: blue;
}

.form-field {
  width: 90%;
  margin: 0 auto 20px auto;
}

.form-field>input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  outline: none;
  border: none;
  margin-top: 6px;
  border: 1px solid #aaa;
  border-radius: 15px;
  caret-color: #0943E8;
}

#join-room {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 5px 40px;
  letter-spacing: 2px;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 15px;
}







@media only screen and (min-width: 768px) {

  #users {
    display: initial;
  }

  #input-holder {
    width: 70%;
  }
  
  input[name="message"] {
    width: calc(100% - 40px);
    caret-color: #0943E8;
    letter-spacing: 1px;
    line-height: 35px;
  }
  
  #input-holder i {
    display: initial;
  }

  #send-location,
  #send-message {
    width: initial;
    border-radius: 10px;
    font-size: 14px;
  }

  #send-location span,
  #send-message span {
    display: none;
  }

  #send-location:after {
    content: "Send Location";
  }

  #send-message:after {
    content: "Send";
  }
  
}

